<?xml version="1.0"?>
<config>
    <modules>
        <ProxiBlue_Donation>
            <version>0.1.0</version>
        </ProxiBlue_Donation>
    </modules>
    <frontend>
        <routers>
            <proxiblue_donation>
                <use>standard</use>
                <args>
                    <module>ProxiBlue_Donation</module>
                    <frontName>donation</frontName>
                </args>
            </proxiblue_donation>
        </routers>
        <layout>
            <updates>
                <proxiblue_donation>
                    <file>proxiblue_donation.xml</file>
                </proxiblue_donation>
            </updates>
        </layout>        
    </frontend>
    <global>
        <blocks>
            <proxiblue_donation>
                <class>ProxiBlue_Donation_Block</class>
            </proxiblue_donation>
        </blocks>
        <helpers>
            <proxiblue_donation>
                <class>ProxiBlue_Donation_Helper</class>
            </proxiblue_donation>
        </helpers>
        <resources>
            <proxiblue_donation_setup>
                <setup>
                    <module>ProxiBlue_Donation</module>
                </setup>
            </proxiblue_donation_setup>
        </resources>
    </global>
</config>